*{
	margin:5px;
	/*overflow:hidden;*/
	box-sizing: border-box;
	font-family: 'Libre Franklin', sans-serif;
	}

body{
	background: #004669
}

header{
	background: #FFF;
	display: block;
	margin: 0 auto;
	overflow: hidden;
	padding: 0;
}

header div.moduleTop{
	float: left;
	height: 100px;
	text-align: left;
	width: 750px;
	color: #004669;
	font-family: 'Libre Franklin', sans-serif;
}

header figure img{
	display: block;
	margin: auto;
	background: #FFF;
	float: right;
}
