*{
	margin:5px;
	/*overflow:hidden;*/
	box-sizing: border-box;
	font-family: 'Libre Franklin', sans-serif;
	}
	

/* Contenedor Padre */
.wrapper-padre{
	width: 1000px;
	margin: auto;
	overflow: hidden;
	border-radius: 10px;
	margin-top: 20px;
	margin-bottom: 20px;
	padding:5px;
	display:flex;
	brackground: #004669;
	flex-flow:column nowrap;
	}
	
	/* Elementos Hijos */

	/* Encabezado */
.header{
	display: flex;
	align-items:center ;
	flex-flow: row nowrap;
	background-image: none;
	background-size: cover;
	background-position: center;
	background-repeat:no- repeat;
	background-attachment: center;
	}

.aside-a{
	flex: 0;
	}
	
.aside-a h1{
	color: #004669;
	text-shadow: 2px 2px 2px #BBB;
	align-items: left;
	text-align: left;
	}
	
.figure img{
	background: #FFF;
	margin-top: 15px;
    width: 315px;	
}

/* Menú lateral */
.subheader{
	display: flex;
	flex-flow:row nowrap;
	background-color: #e7b200;
	border-radius: 05px;
    }

.nav-contenedor{
	flex: 0  auto;
	background-color: #e7b200;
	font-family: 'Libre Franklin', sans-serif;
	vertical-align: left;
	}
	
.nav-contenedor ul{
	padding:0;
	margin:0;
			}
.nav-contenedor li{	
	padding:10px;		
	list-style: none;
	text-align: center;
    border-style: none ;
	border-width: 10px;
    background-color:#e7b200;
	}
			
			
.nav-contenedor li a{
	color:#FFF;
	vertical-align: left;
	text-decoration: none;
	}
			
.nav-contenedor li a:hover{
	background-color: #C7C7C7;
	}

.submenu li a{
	cursor:pointer;
	}

	/* Slider */
.slider{
	background-color: ;
	flex: 3 1 auto;
	}
		
.container{
	background-image: url(img/matrix-2503236_1280.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: center;
	}
		
/* Secciones */

#contenido{
	float: left;
	width: 650px;
	background: #004669;
	border-radius: 10px;
	overflow: hidden;
	}
	

.aside-c{
	display: flex;
	flex-flow:row nowrap;
	}
				
.twitter{
	flex:1 1 auto;
	}
	
.twitter img{
	height:500px;
	}
	
.row-1{
	font-family: 'Libre Franklin', sans-serif;
	color: #FFF;
	margin-left: 20px;
	margin-right: 20px; 
	margin-top: 20px;
	margin-bottom: 20px;
	text-align: left;
	}
	
.aside-a{
	text-align: right;
	}


/* Contador de Visitas */
.contador{
	width: 1000px;
	margin: auto;
	overflow: hidden;
	border-radius: 10px;
	margin-top: 20px;
	margin-bottom: 20px;
	flex:auto;
	background-color: #E3E3E3;
	font-family: 'Libre Franklin', sans-serif;
	}

/* Pie de Página */
.footer{
	display: flex;
	flex-flow:row nowrap;
	background-color: black;
	width: 1000px;
	margin: auto;
	overflow: hidden;
	border-radius: 10px;
	margin-top: 20px;
	margin-bottom: 20px;
	}
		
.logo img{
	width:200px;
	}

.licencia{
	flex:1 1 auto;
	background-color: black;
	font-family: 'Libre Franklin', sans-serif;
	color: #FFF
	}
			
			
.footContactTextES{
	width: 48%;
	float: left;
	font-size: 12px;
	padding-left: 15px;
	padding-top: 5px;
	text-align: Left;
	line-height:14px;
	}
						
.footContactTextES h5{
	width: 48%;
	float: right;
	font-size: 12px;
	padding-left: 2%;
	padding-top: 80px;
	text-align: right;
	line-height:14px;
}
		
		


/* Para Dispositivos */
@media all and (max-width:800px){
	.nav-contenedor{
	flex-direction: column;
	}

	.section{
	flex-direction: column;
	}
}
\ No newline at end of file