/* Para todos los elementos */
*{
	margin:5px;
	/*overflow:hidden;*/
	box-sizing: border-box;
	font-family: 'Libre Franklin', sans-serif;
	}
	

/* Contenedor Padre */
.wrapper-padre{
	width: 1100px;
	height: auto;
	margin: auto;
	position: relative;
	}
	
	/* Elementos Hijos */

	/* Encabezado */
.header{
	background-image: url(../img/logoUNAD.png);
    background-position: right;
	align-items: center;
    background-repeat: no-repeat;
    background-size:325px 135px;
    width: 1000px;
    height: 145px;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 50px;
}
	
.aside-a{
	flex: 0;
	}
	
.aside-a h1{
	color: #004669;
	margin-left: ;
	text-align: center;
    font-family: 'Libre Franklin', sans-serif;
    font-size: 40px;
    text-align: left;
    margin-top: 10px;
    background-position: right;
	}
	
.figure img{
	background: #FFF;
	text align: right;	
	margin-top: 15px;
    width: 315px;
}

/* Menú lateral */
.subheader{
	display: flex;
	flex-flow:row nowrap;
	background-color: #e7b200;
	border-radius: 10px;
    }

.nav-contenedor{
	flex: 0  auto;
	background-color: #e7b200;
	font-family: 'Libre Franklin', sans-serif;
	 font-weight: bold;
	vertical-align: left;
	border-radius: 10px;
	}
	
.nav-contenedor ul{
	padding:0;
	margin:0;
	background-color: #e7b200;
	border-radius: 10px;
}

.nav-contenedor li{	
	padding:10px;		
	list-style: none;
	text-align: center;
    border-style: none ;
	border-radius: 10px;
    background-color:#e7b200;
	}
			
			
.nav-contenedor li a{
	color:#FFF;
	vertical-align: left;
	text-decoration: none;
	}
			
.nav-contenedor li a:hover{
	background-color: #004669;
	}

.submenu li a{
	cursor:pointer;
	}

/* Slider */
.slider{
	flex: auto;
	border-radius: 10px;
	}

.slider img{
	border-radius: 10px;
	margin: 10px;
	width: 850px;
	height: 670px;
	}
		
.container{
	background-image: url(img/matrix-2503236_1280.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: center;
	border-radius: 10px;
	}


/* Secciones */

#contenido{
	float: right;
	width: 650px;
	background: #004669;
	border-radius: 10px;
	overflow: hidden;
	height:600px;
	}
	

.aside-c{
	display: flex;
	flex-flow:row nowrap;
	}
				
.twitter{
	flex:1 1 auto;
	}
	
.twitter img{
	height:400px;
	}
	
.row-1{
	font-family: 'Libre Franklin', sans-serif;
	color: #FFF;
	margin-left: 20px;
	margin-right: 20px; 
	margin-top: 20px;
	margin-bottom: 20px;
	text-align: left;
	}

section{
	width: 500px;
	float: left;
	border-syle: solid;
	border-color: #004669;
	border-top-right-radius: 10px;
	border-bottom-left--radius: 10px;
	martin-bottm; 10px;
	}	
		
	
.aside{
	width: 500px;
	border-color; 004669;
	float: left;
	border-style; solid;
	border-bottom-left-radius:10px;
	border-top-right-radius: 10px;	
	margin-bottom: 10px;
	
	}


/* Contador de Visitas */
.contador{
	width: 1100px;
	margin: auto;
	overflow: hidden;
	border-radius: 10px;
	margin-top: 20px;
	margin-bottom: 20px;
	flex:auto;
	background-color: #e7b200;
	font-family: 'Libre Franklin', sans-serif;
	}

/* Pie de Página */
.footer{
	display: flex;
	flex-flow:row nowrap;
	background-color: black;
	width: 1100px;
	margin: auto;
	overflow: hidden;
	border-radius: 10px;
	margin-top: 20px;
	margin-bottom: 20px;
	}
		
.logo img{
	width: 150px;
	}

.licencia{
	flex:1 1 auto;
	background-color: black;
	font-family: 'Libre Franklin', sans-serif;
	color: #FFF
	}
			
			
.footContactTextES{
	width: 48%;
	float: left;
	font-size: 12px;
	padding-left: 15px;
	padding-top: 5px;
	text-align: Left;
	line-height:14px;
	}
						
.footContactTextES h5{
	width: 48%;
	float: right;
	font-size: 12px;
	padding-left: 2%;
	padding-top: 80px;
	text-align: right;
	line-height:14px;
}
		
		


/* Para Dispositivos */
@media all and (max-width:800px){
	.nav-contenedor{
	flex-direction: column;
	}

	.section{
	flex-direction: column;
	}
}
\ No newline at end of file